<p>crud works!</p>
<input type="text" [disabled]="isDisabled"  [(ngModel)]="empno"  placeholder="Empno"  />
<input type="text"  [(ngModel)]="ename"  placeholder="Ename"  />
<input type="text"  [(ngModel)]="job"  placeholder="Job"  />
<input type="text"  [(ngModel)]="salary"  placeholder="Salary"  />

<hr/>

<input type="button"  value="Get Emps" (click)="getEmps_click()"  />
<input type="button"  value="Add Emps" (click)="addEmps_click()"  />
<input type="button"  value="Update Emps" (click)="updateEmps_click()"  />
<br/><br/>

<table border="2" cellspacing="0"  cellpadding="5" width="600">
    <tr>
          <th>Emp Number</th>
          <th>Emp Name</th>
          <th>Emp Job</th>
          <th>Emp Salary </th>
    </tr>
    
    <tr *ngFor="let emp of empsArray">
        <td> {{emp.empno}} </td>
        <td> {{emp.ename}} </td>
        <td> {{emp.job}} </td>
        <td>{{emp.salary}}</td>
        <td>
            <a  href="javascript:void(0);"  (click)="selectEmps_click( emp.empno  )">Select</a> |
            <a  href="javascript:void(0);"  (click)="removeEmps_click( emp.empno  )">Remove</a>
        </td>
    </tr>
    
    </table>